:root {
	--vh: 1vh;
  --main-bg-color: #141024;
	--red-color: #D52027;
	--white-color: #FFFFFF;
	/* --header-height: 100px; */
	--header-height: 10vh;
	--header-height-medium: 5vh;
	--screen-heignt: 100vh;
	--circle--border-width: 40px;
	--circle--border-width-thin: 25px;
	--container-padding-big: 15vw;
	--container-padding-middle: 10vw;
	--container-padding-small: 5vw;
	--hex-side: 30px; /* длина стороны равностороннего шестиугольника */
	--swiper-pagination-bullet-width: 3.5vw;
	--swiper-pagination-bullet-height: 3.5vw;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Playfair Display', serif;
	background-color: var(--main-bg-color);
	color: var(--white-color);
	overflow-x: hidden;
	/* scroll-behavior: smooth; */
}

.container {
	height: var(--screen-heignt);
	padding: 0 var(--container-padding-big);
}

.with-cursor-pointer {
	cursor: pointer;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.git-link {
	font-style: italic;
}

.dark-link {
	color: var(--main-bg-color);
}

.light-link {
	color: var(--white-color);
}

.btn {
	position: relative;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn__link {
	font-family: 'Playfair Display', serif;
	/* font-size: 18px; */
	font-size: 2vh;
	font-weight: 400;
}

.btn__link:focus-visible {
	outline: none;
	text-decoration: underline;
}

/* .btn:focus, .btn:focus-visible, .btn:focus-within,
.btn:active {
	outline: none;
} */

.btn__link::before {
	content: '';
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.h2 {
	font-size: 5vh;
	font-weight: 600;
}

.h3 {
	font-size: 2.4vh;
	/* font-size: 24px; */
	font-weight: 600;
}

.desc{
	text-indent: 2vw;
	/* margin-bottom: 10px;
	text-indent: 20px; */
}

.desc:not(:last-child) {
	margin-bottom: 1vh;
}

/*header's styles*/
.header {
	z-index: 1000;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: var(--header-height);
	top: 0;
	padding-left: 6vw;
	padding-right: 6vw;
	/* padding: 30px 100px; */
	background-color: var(--main-bg-color);
}

.header__title {
	font-size: 3vh;
	font-weight: 700;
	cursor: default;
}

.header__title:focus-visible {
	outline: none;
	text-decoration: underline;
}

.header__nav {
	display: flex;
	align-items: center;
	/* width: 30%; */
	font-size: 2vh;
	font-weight: 400;
}

.header__link {
	font-size: 3vh;
	font-weight: 600;
	color: var(--white-color);
}

.header__link:focus-visible {
	outline: none;
}

.header__link:focus-visible, .header__link:hover  {
	text-decoration: underline;
}


.header__link:active {
	color: var(--red-color);
	text-decoration: underline;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.nav__item {
	padding: 5px;
	cursor: pointer;
}

.nav__item:focus-visible {
	outline: none;
}

.nav__item::before {
	background-color: var(--white-color);
	height: 2px;
}

/*hero's styles*/
.hero {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding-top: var(--header-height);
	/* padding-right: 100px; */
	background: linear-gradient(150deg, rgba(20,16,36,1) 0%, rgba(20,16,36,1) 60%, rgba(0,70,139,1) 100%);
}

.hero__info-block, .hero__imgs {
	width: 50%;
}

.hero__imgs{
	height: 100%;
}

.hero__info-block {
	/* padding-top: 10vh; */
	padding-right: 1vw;
}

.hero__title {
	font-size: 7vh;
	/* font-size: 70px; */
	font-weight: 600;
	margin-bottom: calc(2 * var(--vh));
}

.hero__title:focus-visible {
	outline: none;
	text-decoration: underline;
}

.hero__desc {
	font-size: 2vh;
	font-weight: 400;
	margin-bottom: calc(5 * var(--vh));
	overflow: hidden;
}

.hero__btn {
	padding: calc(3 * var(--vh)) 8vw;
	background-color: var(--red-color);
	font-family: 'Playfair Display', serif;
	font-size: 2vh;
	line-height: 1;
	font-weight: 400;
	color: var(--white-color);
}

.hero__btn:focus-visible {
	outline: none;
	border: 1px solid var(--white-color);
}

.hero__imgs {
	position: relative;
	display: flex;
	/* min-width: calc(600px + var(--circle--border-width)*2);
	max-height: calc(var(--screen-heignt) - var(--header-height)); */
	justify-content: center;
	overflow-x: hidden;
}

.hero__img-back {
	position: absolute;
	bottom: calc(0px - var(--circle--border-width));
	width: calc((100vw - var(--container-padding-big)*2)/2 - var(--circle--border-width)*2);
	height: calc((100vw - var(--container-padding-big)*2)/2 - var(--circle--border-width)*2);
	max-width: calc(55 * var(--vh));
	max-height: calc(55 * var(--vh));
	/* width: 500px;
	height: 500px; */
	margin: var(--circle--border-width);
	background: transparent;
	border-radius: 50%;
}

.img-of-circle{
	box-shadow: 1px 0px 0 calc(var(--circle--border-width) - 1px) rgba(255, 255, 255),
							0 1px 0 calc(var(--circle--border-width) - 1px) rgba(255, 255, 255),
							0 -1px 0 calc(var(--circle--border-width) - 1px) rgba(255, 255, 255),
							-1px 0 0 calc(var(--circle--border-width) - 1px) rgba(255, 255, 255);
}

.hero__img-front {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: calc(100% - 100px);
	background: url(../imgs/portrait.webp) center center no-repeat;
	background-size: contain;
}

/*Animation of changing pages*/
.animated-wrap {
	width: 100%;
	height: var(--screen-heignt);
	/* padding-top: var(--header-height); */
	background-color: var(--white-color);
	/* background: url(../imgs/beautiful-shot-2-b.jpg) center center no-repeat;
	background-size: cover; */
	overflow: hidden;
}

.animated-wrap__subblock {
	/* z-index: -1; */
	position: absolute;
	width: 100%;
	height: var(--screen-heignt);
	overflow: hidden;
}


.star {
	position: absolute;
	height:20px;
  width:20px;
	padding: 10px;
	background: url(../imgs/star-svgrepo-com.svg) no-repeat center center / cover;
}

.dark-star {
	position: absolute;
	height:20px;
  width:20px;
	padding: 10px;
	background: url(../imgs/star-dark-svgrepo-com.svg) no-repeat center center / cover;
}


/*second and third pages styles*/

.aboutme-block, .info-block {
	position: relative;
	display: flex;
	flex-direction: column;
	/* padding-top: calc(var(--header-height) + 50px);
	padding-bottom: 50px; */
	padding-top: var(--header-height);
	padding-bottom: var(--header-height);
	align-items: center;
	text-align: justify;
	color: var(--main-bg-color);
}

.aboutme-block {
	z-index: 1;
}

.aboutme-block__title {
	width: fit-content;
	margin-top: calc(5 * var(--vh));
	margin-bottom: calc(5 * var(--vh));
	/* font-size: 5vh; */
	/* margin-bottom: 50px;
	font-size: 50px; */
	font-weight: 600;
	cursor: pointer;
}

.aboutme-block__title:focus-visible {
	outline: none;
	text-decoration: underline;
}

.aboutme-block__desc {
	max-height: calc(25 * var(--vh));
	margin-bottom: calc(5 * var(--vh));
	/* margin-bottom: 50px; */
	font-size: 2vh;
	overflow: hidden;
	cursor: default;
}


.aboutme-block__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	height: calc(40* var(--vh));;
}

.aboutme-block__list:focus-visible {
	outline: none;
}

.aboutme-block__item {
	display: flex;
	justify-content: center;
	align-items: center;
  /* margin: 15px 5px; */
	height: 100%;
	/* height: 300px; */
	width: 30%;
	/* max-width: 30%; */
	padding: 15px;
	border-radius: 20px;
	border: 2px solid rgba(20,16,36, 0.2);
	background: var(--white-color);
	/* text-align: center; */
	cursor: default;
}

.aboutme-block__item:focus {
	outline: none;
	border-color: var(--red-color);
}

/*Info Block styles*/
.info-block__title {
	width: fit-content;
	margin-top: calc(5 * var(--vh));;
	margin-bottom: calc(5 * var(--vh));;
	/* font-size: 50px;
	font-weight: 600; */
	cursor: default;
}

.info-block__title:focus-visible {
	outline: none;
	text-decoration: underline;
}

.info-block__desc {
	max-height: calc(20 * var(--vh));
	margin-bottom: calc(5 * var(--vh));
	font-size: 2vh;
	font-weight: 400;
	overflow: hidden;
	cursor: default;
}

.info-slide__link {
	transition: all 0.5s ease-in-out;
}

.info-slide__link:focus-visible {
	outline: none;
	border-bottom: 2px solid var(--main-bg-color);
}

/*Swiper styles*/
.info-swiper {
	height: calc(50 * var(--vh));
	/* height: 60%; */
	width: 100%;
	padding: 3px 100px;
}

.info-swiper__slide {
	border-radius: 20px;
	/* outline: 2px solid var(--main-bg-color); */
	/* background-color: rgba(20,16,36, 0.2); */
}

.info-slide {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}

.info-swiper__pagination {
	display: none;
}

.info-swiper__btn-next,
.info-swiper__btn-prev {
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--swiper-navigation-size);
	border-radius: 50%;
	transition: border-color 0.3s ease-out;
	transition: background-color 0.3s ease-out;
}

.info-swiper__btn-prev::after {
	content: '';
	border-left: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
	/* border-right: 1px solid red;
  border-top: 1px solid red; */
  width: calc(var(--swiper-navigation-size)/2);
  height: calc(var(--swiper-navigation-size)/2);
  transform: rotate(45deg)
						 translateX(calc(var(--swiper-navigation-size)/8 - 1px))
						 translateY(calc(var(--swiper-navigation-size)/-8 + 1px));
	transition: border-color 0.3s ease-out;
}

.info-swiper__btn-next::after {
	content: '';
	border-right: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
	width: calc(var(--swiper-navigation-size)/2);
  height: calc(var(--swiper-navigation-size)/2);
  transform: rotate(-45deg)
						 translateX(calc(var(--swiper-navigation-size)/-8 + 1px))
						 translateY(calc(var(--swiper-navigation-size)/-8 + 1px));
	transition: border-color 0.3s ease-out;
}

.info-swiper__btn-next:focus-visible,
.info-swiper__btn-prev:focus-visible{
  /* outline: 2px solid var(--red-color); */
	outline: none;
	border: 2px solid  var(--main-bg-color);
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled:focus-visible, .swiper-button-prev.swiper-button-disabled:focus-visible {
	background-color: transparent;
	border: none;
}

.info-swiper__btn-next:hover,
.info-swiper__btn-prev:hover{
  /* outline: 2px solid var(--red-color); */
	outline: none;
	border: 2px solid  var(--red-color);
}

.info-swiper__btn-next:hover::after,
.info-swiper__btn-prev:hover::after{
  border-color: var(--red-color);
}

.info-swiper__btn-next:active,
.info-swiper__btn-prev:active{
	/* outline: 2px solid var(--red-color); */
  background-color: var(--red-color);
}

.info-swiper__btn-next:active::after,
.info-swiper__btn-prev:active::after{
  border-color: var(--main-bg-color);
}

.info-slide__name, .info-slide__inf, 
.info-slide__img{	
	width: 50%;
	flex-shrink: 1;
	/* flex: 1 1 50%; */
}

.info-slide__name {	
	margin-bottom: 2vh;
	padding-right: 1.5vw;
	/* margin-bottom: 20px;
	padding-right: 25px; */
	text-align: center;
	cursor: default;
}

.info-slide__inf {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-basis: 45%;
	font-size: 2vh;
	/* font-size: 18px; */
	font-weight: 400;
	overflow-y: hidden;	
	padding-right: 1.5vw;
	/* padding-right: 25px; */
	cursor: default;
}

.info-slide__desc {
	margin-bottom: 1vh;
	/* margin-bottom: 10px; */
	cursor: default;
}

.info-slide__btn-space {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.info-slide__btn {
	display: block;
	width: calc(100% - 6px) ;
	margin-left: 3px;
	margin-right: 3px;
	padding-top: 3vh;
	padding-bottom: 3vh;
	/* padding-top: 30px;
	padding-bottom: 30px; */
	background-color: var(--main-bg-color);	
}

.info-slide__btn:focus-visible {
	outline: 2px solid var(--main-bg-color);;
	border: 2px solid var(--white-color);
}

.info-slide__img {
	flex-grow: 1;
	flex-basis: 50%;
	border-radius: 20px;
	border: 20px solid rgba(20,16,36, 1);
	overflow: hidden;
}

.info-slide-img-zero, .info-slide-img-one {
	background: center / cover no-repeat url(../imgs/vue-project-1.webp);
}

.info-slide-img-two {
	background: center / cover no-repeat url(../imgs/email-blanchared-1.webp);
}

.info-slide-img-three {
	background: center / cover no-repeat url(../imgs/evklid-1.jpg);
}

.info-slide-img-four {
	background: center / cover no-repeat url(../imgs/basic-grid-1.jpg);
}

/*Works Block Styles*/
.works-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: var(--screen-heignt);
	padding-top: var(--header-height);
	background-color: var(--white-color);
	color: var(--main-bg-color);
}

.works-block__title {
	margin-top: calc(5 * var(--vh));
	margin-bottom: calc(5 * var(--vh));
}

.works-block__desc {
	margin-bottom: calc(5 * var(--vh));
	font-size: 2vh;
}
.works-block__title, .works-block__desc {
	padding: 0 var(--container-padding-big);
}

.works-block__animation {
	position: relative;
	width: 100%;
	height: calc(70 * var(--vh) - var(--header-height));
	flex-grow: 1;
	/* flex: 1 1 33%; */
	background-color: var(--main-bg-color);
}

.animation-works-slide {
	position: relative;
  width: 100%;
  height: 100%;
}

.animation-works-slide__title {
 	position: absolute;
 	top: 2vh;
 	left: 2vh;
	color: var(--white-color);
	cursor: default;
}

.animation-work__start {
	z-index: 2;
	position: absolute;
	top: calc(50% - 30px);
	left: 10vw;
	height: calc(8 * var(--vh));
	width: 20vw;
	padding: calc(1 * var(--vh)) 2vw;
	background-color: var(--main-bg-color);
	font-family: 'Playfair Display', serif;
	font-size: 2vh;
	font-weight: 400;
	color: var(--white-color);
	transition: all .5s ease-in-out;
}

.animation-work__start:focus-visible {
	outline: none;
	border: 2px solid var(--red-color);
}


.animation-work__start:hover {
	background-color: var(--red-color);
}

.animation-work__start:active {
	background-color: var(--red-color);
	transform-origin: center;
	transform: scale(1.2);
	
}

.animation-works-swiper__pagination {
	display: none;
}

.animation-works-swiper__btn-next {
	top: 0;
	right: 0;
	margin-top: 0;
}

.animation-works-swiper__btn-prev {
	top: 0;
	left: 0;
	margin-top: 0;
}

.animation-works-swiper__btn-next,
.animation-works-swiper__btn-prev {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: calc(var(--swiper-navigation-size) + 30px) ;
	padding: 0 15px;
	/* border-radius: 50%; */
	transition: border-color 0.3s ease-out;
	transition: background-color 0.3s ease-out;
}

.animation-works-swiper__btn-prev::after {
	content: '';
	border-left: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  width: calc(var(--swiper-navigation-size)/2);
  height: calc(var(--swiper-navigation-size)/2);
  transform: rotate(45deg)
						 translateX(calc(var(--swiper-navigation-size)/8 - 1px))
						 translateY(calc(var(--swiper-navigation-size)/-8 + 1px));
	transition: border-color 0.3s ease-out;
}

.animation-works-swiper__btn-next::after {
	content: '';
	border-right: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
	width: calc(var(--swiper-navigation-size)/2);
  height: calc(var(--swiper-navigation-size)/2);
  transform: rotate(-45deg)
						 translateX(calc(var(--swiper-navigation-size)/-8 + 1px))
						 translateY(calc(var(--swiper-navigation-size)/-8 + 1px));
	transition: border-color 0.3s ease-out;
}

.animation-works-swiper__btn-next:focus-visible,
.animation-works-swiper__btn-prev:focus-visible{
  /* outline: 2px solid var(--red-color); */
	outline: none;
	background-color: rgba(20, 16, 36, 0.8);;
	/* border: 2px solid  var(--main-bg-color); */
}

.animation-works-swiper__btn-next:hover,
.animation-works-swiper__btn-prev:hover{
  /* outline: 2px solid var(--red-color); */
	outline: none;
	background-color: rgba(213, 32, 39, 1);
	/* border: 2px solid  var(--red-color); */
}

.animation-works-swiper__btn-next:active,
.animation-works-swiper__btn-prev:active{
	/* outline: 2px solid var(--red-color); */
  background-color: var(--main-bg-color);
}



/*Shining holidays animation*/

.shining-animation-block {
  background: url(../imgs/bg-holidays-6.webp) no-repeat center center / cover;
}

.stage {
	display: inline-block;
  position: absolute;
  z-index: 1;
  inset: 0;
  overflow: hidden;
}

.light-span {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #f98d21;
	box-shadow: 0 0 5px rgba(249, 141, 33, .5),
							0 0 15px rgba(249, 141, 33, .5),
							0 0 30px rgba(249, 141, 33, .5);
  border-radius: 50%;
  filter: blur(2px);
}

.light-span-two {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fed45c;
	box-shadow: 0 0 5px rgba(254, 212, 92, .5),
							0 0 15px rgba(254, 212, 92, .5),
							0 0 30px rgba(254, 212, 92, .5);
  border-radius: 50%;
  filter: blur(2px);
}

.blur {
  width: 130px;
  height: 130px;
  filter: blur(15px);
}

/*Letters plus cursor Animation*/
.paper-stage {
	position: relative;
	height: 100%;
	width: 100%;
  overflow: hidden;
	background-color: var(--main-bg-color);
	background-image: linear-gradient(to right, #2c2e4a, 1px, transparent 1px),
	linear-gradient(to bottom, #2c2e4a, 1px, transparent 1px);
	background-size: 40px 40px;
	cursor: none;
}

.paper-cursor {
	position: fixed;
	width: 25px;
	height: 25px;
	border-top: 5px solid #0f0;
	border-left: 5px solid #0f0;
	transform-origin: top;
	transform: rotate(30deg);
	/* transition: transform 0.1s; */
	pointer-events: none;
	filter: drop-shadow(0 0 5px #0f0)
					drop-shadow(0 0 15px #0f0)
					drop-shadow(0 0 35px #0f0) hue-rotate(60deg);
}

.paper-cursor::before {
	content: '';
	position: absolute;
	width: 5px;
	height: 40px;
	background-color: #0f0;
	transform-origin: top;
	transform:  rotate(315deg) translate(-9px, -9px);
}

.paper-element {
	position: absolute;
	color: #0f0;
	pointer-events: none;
	width: 10px;
	height: 10px;
	font-size: 2em;
	transform: translate(-50%, -50%);
	transition: 1s;
	filter: drop-shadow(0 0 5px #0f0)
					drop-shadow(0 0 15px #0f0)
					hue-rotate(60deg);
}




/*Footer*/
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 6vw;
	padding-right: 6vw;
	height: 100px;	
	font-size: 2vh;
}

.footer__link {
	color: var(--white-color);
}

.footer__link:focus-visible {
	outline: none;
	text-decoration: underline;
}

@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 3/2) {
	.header__title, .header__link {
		font-size: 1.7vh;
	}

	.header__nav {
		width: 38vw;
		font-size: 1.5vh;
	}

	.aboutme-block__title, .info-block__title, .works-block__title {
		margin-top: calc(2 * var(--vh));
    margin-bottom: calc(2 * var(--vh))
	}

}

@media (max-width: 1920px) and (orientation: portrait) {
	.h3 {
		font-size: 2vh;
	}

	.container {
		/* padding-top: calc(8 * var(--vh)); */
		padding-left: var(--container-padding-small);
		padding-right: var(--container-padding-small);
	}

	.header {
		height: var(--header-height-medium);
		justify-content: center;
	}

	.header__title {
		display: none;
	}

	.header__link {
		display: none;
	}

	.header__nav {
		width: 90%;
		font-size: 1.4vh;
	}

	.hero {
		position: relative;
		flex-direction: column;
		padding-top: var(--header-height-medium);
	}

	.hero__imgs {
		position: absolute;
		width: calc(100% - var(--container-padding-middle)*2);
	}

	.hero__info-block{
		z-index: 1;
		position: relative;
		height: 100%;
		width: 100%;
		padding-right: 0;
		padding-top: calc(4 * var(--vh));;
	}

	.hero__imgs {
		bottom: calc(4 * var(--vh));;
		height: calc(60 * var(--vh));;
	}

	.hero__title, .hero__desc {
		text-align: center;
	}

	.hero__title {
		margin-bottom: calc(2 * var(--vh));
		font-size: 5vh;
	} 

	.hero__desc {
		max-height: calc(13 * var(--vh));
		margin-bottom: calc(2 * var(--vh));
		font-size: 1.5vh;
	}

	.hero__btn {
		position: absolute;
		bottom: calc(1.5 * var(--vh));
		width: 100%;
	}

	.hero__img-back {
		width:calc(80vw - var(--circle--border-width)*2);
		height: calc(80vw - var(--circle--border-width)*2);
		max-width: calc(45 * var(--vh));
		max-height: calc(45 * var(--vh));
	}

	.hero__img-front {
		height: 100%;
		/* height: calc(100% - 5 * var(--vh)); */
	}

	.aboutme-block, .info-block {
		padding-top: var(--header-height-medium);
    padding-bottom: var(--header-height-medium);
	}

	.aboutme-block__title, .info-block__title {
		margin-top: calc(2 * var(--vh));
		margin-bottom: calc(2 * var(--vh));
	}

	.desc {
		font-size: 1.5vh;
	}

	.aboutme-block__list {
		flex-direction: column;
	}

	.aboutme-block__item {
		height: 30%;
		width: 100%;
	}

	
	/*projects*/
	.info-swiper {
		height: calc(50 * var(--vh));
		padding: calc(0.5 * var(--vh)) 0px calc(0.5 * var(--vh)) 0px;
	}

	.info-swiper__pagination {
		/* display: block; */
		display: flex;
	}

	.info-swiper__pagination  .swiper-pagination-bullet{
		/* display: block; */
		border-radius: 0;
		flex-grow: 1;
		background-color: rgba(20, 16, 36, 0.5);;
	} 

	.info-swiper__pagination .swiper-pagination-bullet-active {
		/* background: var(--main-bg-color); */
		border-radius: 0;
		flex-grow: 1;
		background-color: var(--main-bg-color);
	}

	.info-swiper__btn-prev, .info-swiper__btn-next {
		display: none;
	}

	.info-slide__name, .info-slide__inf{
		width: 100%;
	}

	.info-slide__name {
		padding-right: 0px;
	}

	.info-slide__inf {
		flex-basis: 40%;
		padding-right: 0px;
		font-size: 1.5vh;
	}

	.info-slide__img {
		display: none;
		/* flex-basis: 50%; */
	}

	.works-block {
		padding-top: var(--header-height-medium);
	}

	.works-block__title {
		margin-top: calc(2 * var(--vh));
		margin-bottom: calc(2 * var(--vh));
	}

	.works-block__desc {
		font-size: 2vh;
	}

	.works-block__title, .works-block__desc {
		padding: 0 var(--container-padding-small);
	}

	.animation-work__start {
		top: 0;
		left: 0;
		width: 100vw;
		background: transparent;
	}

	.animation-works-swiper__btn-next, .animation-works-swiper__btn-prev {
		display: none;
	}

	.animation-works-swiper__pagination {
		display: flex;
	}
	
	.animation-works-swiper__pagination .swiper-pagination-bullet {
		border-radius: 0;
		flex-grow: 1;
		background-color: rgba(213, 32, 39, 0.5);
	}
	
	.animation-works-swiper__pagination .swiper-pagination-bullet-active {
		border-radius: 0;
		flex-grow: 1;
		background-color: var(--red-color);
	}

	.footer {
		height: 50px;
		font-size: 1.5vh
	}
}

@media (max-width: 1280px) and (orientation: landscape) {

	.container {
		padding-left: var(--container-padding-middle);
		padding-right: var(--container-padding-middle);
	}

	.header{
		justify-content: center;
	}

	.header__title {
		display: none;
	}

	.header__link {
		display: none;
	}

	.header__nav {
		width: 60%;
	}

	.hero__img-back {
		width: calc(45*var(--vh) - var(--circle--border-width-thin)*2);
    height: calc(45*var(--vh) - var(--circle--border-width-thin)*2);
	}

	.img-of-circle {
		box-shadow: 1px 0px 0 calc(var(--circle--border-width-thin) - 1px) rgba(255, 255, 255),
									0 1px 0 calc(var(--circle--border-width-thin) - 1px) rgba(255, 255, 255),
									0 -1px 0 calc(var(--circle--border-width-thin) - 1px) rgba(255, 255, 255),
									-1px 0 0 calc(var(--circle--border-width-thin) - 1px) rgba(255, 255, 255);
	}
}

@media (max-width: 680px) and (orientation: landscape) {

	.h3 {
		font-size: 2.8vh
	}

	.header__nav {
    width: 90%;
		font-size: 2.5vh
	}

	.aboutme-block__title {
		margin-bottom: calc(2 * var(--vh));
	}

	.aboutme-block__desc, .info-block__desc {
		font-size: 2.5vh
	}

	.info-slide__name, .info-slide__inf{
		width: 100%;
	}

	.info-slide__name {
		padding-right: 0px;
	}

	.info-slide__inf {
		flex-basis: 40%;
		padding-right: 0px;
		font-size: 2.2vh;
	}

	.info-slide__img {
		display: none;
	}
	
}