:root {
	--vh: 1vh;
  	--main-color: #141024;
	--red-color: #D52027;
	--white-color: #FFFFFF;
	--header-height: 10vh;
	--screen-heignt: 100vh;
	--circle--border-width: 40px;
	--container-padding: 15vw;
	--swiper-navigation-size: 44px;
	--swiper-navigation-sides-padding: 10px;
	--swiper-navigation-sides-offset: 0px;
	--swiper-pagination-bullet-width: 3.5vw;
	--swiper-pagination-bullet-height: 3.5vh;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html {
	font-family: 'Playfair Display', serif;
	background-color: var(--main-color);
	color: var(--white-color);
	overflow-x: hidden;
}

.container {
	height: var(--screen-heignt);
	padding: 0 var(--container-padding);
}

.with-cursor-pointer {
	cursor: pointer;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.git-link {
	font-style: italic;
}

.dark-link {
	color: var(--main-color);
}

.light-link {
	color: var(--white-color);
}

.btn {
	position: relative;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn__link {
	font-family: 'Playfair Display', serif;
	font-size: 2vh;
	font-weight: 400;
}

.btn__link:focus-visible {
	outline: none;
	text-decoration: underline;
}

.btn__link::before {
	content: '';
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn__link_theme-light {
	color: var(--white-color);
}

.btn__link_theme-dark {
	color: var(--main-color);
}

.bth-start-animation {
	font-family: 'Playfair Display', serif;
	font-size: 2vh;
	font-weight: 400;
}

.bth-start-animation_theme-dark {
	background-color: var(--main-color);
	color: var(--white-color);
  transition: all .5s ease-in-out;
}

.bth-start-animation_theme-dark:hover {
	background-color: var(--red-color);
}

.bth-start-animation_theme-dark:active {
	background-color: var(--red-color);
	transform-origin: center;
	transform: scale(0.9);
}

.bth-start-animation_theme-light {
	background-color: var(--white-color);
	color: var(--main-bg-color);
	transition: all .5s ease-in-out;
}

.bth-start-animation_theme-light:hover {
	background-color: var(--red-color);
	color: var(--white-color);
}

.bth-start-animation_theme-light:active {
	background-color: var(--red-color);
	transform-origin: center;
	transform: scale(0.9);
}

.h2 {
	font-size: 5vh;
	font-weight: 600;
}

.h3 {
	font-size: 2.4vh;
	font-weight: 600;
}

.block-desc {
	font-size: 2vh;
	text-indent: 2vw;
}

/*header's styles*/
.header {
	z-index: 1000;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: var(--header-height);
	top: 0;
	padding-left: 6vw;
	padding-right: 6vw;
	background-color: var(--main-color);
}

.header__title {
	font-size: 3vh;
	font-weight: 700;
	cursor: default;
}

.header__title:focus-visible {
	outline: none;
	text-decoration: underline;
}

.header__nav {
	display: flex;
	align-items: center;
}

.header__link {
	font-size: 3vh;
	font-weight: 600;
	color: var(--white-color);
}

.header__link:focus-visible {
	outline: none;
}

.header__link:focus-visible, .header__link:hover  {
	text-decoration: underline;
}


.header__link:active {
	color: var(--red-color);
	text-decoration: underline;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.nav__item {
	padding: 5px;
	cursor: pointer;
}

.nav__item:focus-visible {
	outline: none;
}

.nav__item::before {
	background-color: var(--white-color);
	height: 2px;
}

.nav__link {
	color: var(--white-color);
	font-family: 'Playfair Display', serif;	
	font-size: 2vh;
	font-weight: 400;
}

.nav__link:focus-visible {
	outline: none;
}

/*hero's styles*/
.hero {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding-top: var(--header-height);
	background: linear-gradient(150deg, rgba(20,16,36,1) 0%, rgba(20,16,36,1) 60%, rgba(0,70,139,1) 100%);
}

.hero__info-block, .hero__imgs {
	width: 50%;
}

.hero__imgs{
	height: 100%;
}

.hero__info-block {
	padding-right: 1vw;
}

.hero__title {
	font-size: 7vh;
	font-weight: 600;
	margin-bottom: 2vh;
}

.hero__title:focus-visible {
	outline: none;
	text-decoration: underline;
}

.hero__desc {
	max-height: 30vh;
	font-size: 2vh;
	font-weight: 400;
	margin-bottom: 5vh;
	overflow: hidden;
}

.hero__btn {
	padding: 3vh 8vw;
	background-color: var(--red-color);
	font-family: 'Playfair Display', serif;
	font-size: 2vh;
	line-height: 1;
	font-weight: 400;
	color: var(--white-color);
}

.hero__btn:focus-visible {
	outline: none;
	border: 1px solid var(--white-color);
}

.hero__imgs {
	position: relative;
	display: flex;
	justify-content: center;
	overflow-x: hidden;
}

.hero__img-back {
	position: absolute;
	bottom: calc(0px - var(--circle--border-width));
	width: calc((100vw - var(--container-padding)*2)/2 - var(--circle--border-width)*2);
	height: calc((100vw - var(--container-padding)*2)/2 - var(--circle--border-width)*2);
	max-width: 55vh;
	max-height: 55vh;
	margin: var(--circle--border-width);
	background: transparent;
	border-radius: 50%;
}

.img-of-circle{
	box-shadow: 1px 0px 0 calc(var(--circle--border-width) - 1px) rgba(255, 255, 255),
							0 1px 0 calc(var(--circle--border-width) - 1px) rgba(255, 255, 255),
							0 -1px 0 calc(var(--circle--border-width) - 1px) rgba(255, 255, 255),
							-1px 0 0 calc(var(--circle--border-width) - 1px) rgba(255, 255, 255);
}

.hero__img-front {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: calc(100% - 100px);
	background: url(../imgs/portrait.webp) center center no-repeat;
	background-size: contain;
}

/*Animation of changing pages*/
.animated-wrap {
	width: 100%;
	height: var(--screen-heignt);
	background-color: var(--white-color);
	overflow: hidden;
}

.animated-wrap__subblock {
	position: absolute;
	width: 100%;
	height: var(--screen-heignt);
	overflow: hidden;
}


.star {
	position: absolute;
	height:20px;
  width:20px;
	padding: 10px;
	background: url(../imgs/star-svgrepo-com.svg) no-repeat center center / cover;
}

.dark-star {
	position: absolute;
	height:20px;
  width:20px;
	padding: 10px;
	background: url(../imgs/star-dark-svgrepo-com.svg) no-repeat center center / cover;
}


/*second and third pages styles*/
.aboutme-block, .info-block {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-top: var(--header-height);
	padding-bottom: var(--header-height);
	align-items: center;
	text-align: justify;
	color: var(--main-color);
}

.aboutme-block {
	z-index: 1;
}

.aboutme-block__title {
	width: fit-content;
	margin-top: 5vh;
	margin-bottom: 5vh;
	font-weight: 600;
	cursor: pointer;
}

.aboutme-block__title:focus-visible {
	outline: none;
	text-decoration: underline;
}

.aboutme-block__desc {
	max-height: 25vh;
	margin-bottom: 5vh;
	overflow: hidden;
	cursor: default;
}

.aboutme-block__desc .block-desc:not(:last-child) {
	margin-bottom: 1vh;
}

.aboutme-block__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	height: 40vh;
}

.aboutme-block__list:focus-visible {
	outline: none;
}

.aboutme-block__item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 30%;
	padding: 15px;
	border-radius: 20px;
	border: 2px solid rgba(20,16,36, 0.2);
	background: var(--white-color);
	cursor: default;
}

.aboutme-block__item:focus {
	outline: none;
	border-color: var(--red-color);
}

/*Info Block styles*/
.info-block {
	background-color: var(--main-color);
	color: var(--white-color);
}

.info-block__title {
	width: fit-content;
	margin-top: 5vh;;
	margin-bottom: 5vh;;
	cursor: default;
}

.info-block__title:focus-visible {
	outline: none;
	text-decoration: underline;
}

.info-block__desc {
	max-height: 20vh;
	margin-bottom: 5vh;
	font-size: 2vh;
	font-weight: 400;
	overflow: hidden;
	cursor: default;
}

.info-slide__link:focus-visible {
	outline: none;
	border-bottom: 2px solid var(--main-color);
}

/*Swiper styles*/
.info-swiper {
	height: 50vh;
	width: 100%;
	padding: 30px calc(var(--swiper-navigation-size) + var(--swiper-navigation-sides-padding) * 4);
	border-radius: 5px;
	box-shadow: 5px 0 15px 5px rgba(255, 255, 255, 0.5),
							-5px 0 15px 5px rgba(255, 255, 255, 0.5),
							0 -5px 15px 5px rgba(255, 255, 255, 0.5),
							0 5px 15px 5px rgba(255, 255, 255, 0.5);
}

.info-swiper__slide {
	border-radius: 20px;
}

.info-slide {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}

.info-swiper__pagination {
	display: none;
}

.info-swiper__btn-next,
.info-swiper__btn-prev {
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;	
	width: calc(var(--swiper-navigation-size) + var(--swiper-navigation-sides-padding) * 2);
	height: 100%;
	margin-top: 0px;
	padding-left: var(--swiper-navigation-sides-padding);
	padding-right: var(--swiper-navigation-sides-padding);
	transition: all 0.3s ease-out;
}

.info-swiper__btn-next {
	transform-origin: center right;
}
.info-swiper__btn-prev {
	transform-origin: center left;
}

.info-swiper__btn-prev::after {
	content: '';
  width: calc(var(--swiper-navigation-size)/2);
  height: calc(var(--swiper-navigation-size)/2);
	border-left: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  transform: rotate(45deg)
						 translateX(calc(var(--swiper-navigation-size)/8 - 1px))
						 translateY(calc(var(--swiper-navigation-size)/-8 + 1px));
	transition: all 0.3s ease-out;
}

.info-swiper__btn-next::after {
	content: '';
	border-right: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
	width: calc(var(--swiper-navigation-size)/2);
  height: calc(var(--swiper-navigation-size)/2);
  transform: rotate(-45deg)
						 translateX(calc(var(--swiper-navigation-size)/-8 + 1px))
						 translateY(calc(var(--swiper-navigation-size)/-8 + 1px));
	transition: all 0.3s ease-out;
}

.info-swiper__btn-next:focus-visible,
.info-swiper__btn-prev:focus-visible{
	outline: none;
	border: 2px solid  var(--white-color);
	background-color:  rgba(213, 32, 39, 0.5);
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled:focus-visible, .swiper-button-prev.swiper-button-disabled:focus-visible {
	background-color: transparent;
	border: none;
}

.info-swiper__btn-next:hover,
.info-swiper__btn-prev:hover{
	outline: none;
	background: var(--red-color);
}

.info-swiper__btn-next:active,
.info-swiper__btn-prev:active{
	transform: scaleX(0.9);
}

.info-slide__name, .info-slide__inf, 
.info-slide__img{	
	width: 50%;
	flex-shrink: 1;
}

.info-slide__name {	
	margin-bottom: 2vh;
	padding-right: 1.5vw;
	text-align: center;
	cursor: default;
}

.info-slide__inf {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-basis: 45%;
	font-size: 2vh;
	font-weight: 400;
	padding-right: 1.5vw;
	cursor: default;
}

.info-slide__desc {
	max-height: 15vh;
	margin-bottom: 1vh;
	overflow: hidden;
	cursor: default;
}

.info-slide__btn-space {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.info-slide__btn {
	display: block;
	width: calc(100% - 6px) ;
	margin-left: 3px;
	margin-right: 3px;
	padding-top: 3vh;
	padding-bottom: 3vh;
	background-color: var(--white-color);	
}

.info-slide__btn:focus-visible {
	outline: 2px solid var(--white-color);;
	border: 2px solid var(--main-color);
}

.info-slide__img {
	flex-grow: 1;
	flex-basis: 50%;
	border-radius: 20px;
	border: 20px solid var(--white-color);
	overflow: hidden;
}

.info-slide-img-zero, .info-slide-img-one {
	background: center / cover no-repeat url(../imgs/vue-project-1.webp);
}

.info-slide-img-two {
	background: center / cover no-repeat url(../imgs/email-blanchared-1.webp);
}

.info-slide-img-three {
	background: center / cover no-repeat url(../imgs/evklid-1.jpg);
}

.info-slide-img-four {
	background: center / cover no-repeat url(../imgs/basic-grid-1.jpg);
}

/*Works Block Styles*/
.works-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: var(--screen-heignt);
	padding-top: var(--header-height);
	background-color: var(--white-color);
	color: var(--main-color);
}

.works-block__title {
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.works-block__desc {
	margin-bottom: 5vh;
}

.works-block__title, .works-block__desc {
	padding: 0 var(--container-padding);
}

.works-block__animation {
	position: relative;
	width: 100%;
	height: calc(70vh - var(--header-height));
	flex-grow: 1;
	background-color: var(--main-color);
}

.animation-works-slide {
	position: relative;
  width: 100%;
  height: 100%;
	overflow: hidden;
}

.animation-works-slide__title {
 	position: absolute;
 	top: 2vh;
 	left: 2vh;
	color: var(--white-color);
	cursor: default;
}

.animation-work__start {
	z-index: 2;
	position: absolute;
	top: calc(50% - 30px);
	left: 10vw;
	height: 8vh;
	width: 20vw;
	padding: 1vh 2vw;
}

.animation-works-swiper__pagination {
	display: none;
}

.animation-works-swiper__btn-next {
	top: 0;
	right: 0;
	margin-top: 0;
}

.animation-works-swiper__btn-prev {
	top: 0;
	left: 0;
	margin-top: 0;
}

.animation-works-swiper__btn-next,
.animation-works-swiper__btn-prev {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: calc(var(--swiper-navigation-size) + 30px) ;
	padding: 0 15px;
	transition: border-color 0.3s ease-out;
	transition: background-color 0.3s ease-out;
}

.animation-works-swiper__btn-prev::after {
	content: '';
	border-left: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  width: calc(var(--swiper-navigation-size)/2);
  height: calc(var(--swiper-navigation-size)/2);
  transform: rotate(45deg)
						 translateX(calc(var(--swiper-navigation-size)/8 - 1px))
						 translateY(calc(var(--swiper-navigation-size)/-8 + 1px));
	transition: border-color 0.3s ease-out;
}

.animation-works-swiper__btn-next::after {
	content: '';
	border-right: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
	width: calc(var(--swiper-navigation-size)/2);
  height: calc(var(--swiper-navigation-size)/2);
  transform: rotate(-45deg)
						 translateX(calc(var(--swiper-navigation-size)/-8 + 1px))
						 translateY(calc(var(--swiper-navigation-size)/-8 + 1px));
	transition: border-color 0.3s ease-out;
}

.animation-works-swiper__btn-next:focus-visible,
.animation-works-swiper__btn-prev:focus-visible{
	outline: none;
	background-color: rgba(20, 16, 36, 0.8);;
}

.animation-works-swiper__btn-next:hover,
.animation-works-swiper__btn-prev:hover{
	outline: none;
	background-color: rgba(213, 32, 39, 1);
}

.animation-works-swiper__btn-next:active,
.animation-works-swiper__btn-prev:active{
  background-color: var(--main-color);
}



/*Shining holidays animation*/
.shining-animation-block {
  background: url(../imgs/bg-holidays-6.webp) no-repeat center center / cover;
}

.stage {
	display: inline-block;
  position: absolute;
  z-index: 1;
  inset: 0;
  overflow: hidden;
}

.light-span {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #f98d21;
	box-shadow: 0 0 5px rgba(249, 141, 33, .5),
							0 0 15px rgba(249, 141, 33, .5),
							0 0 30px rgba(249, 141, 33, .5);
  border-radius: 50%;
  filter: blur(2px);
}

.light-span-two {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fed45c;
	box-shadow: 0 0 5px rgba(254, 212, 92, .5),
							0 0 15px rgba(254, 212, 92, .5),
							0 0 30px rgba(254, 212, 92, .5);
  border-radius: 50%;
  filter: blur(2px);
}

.blur {
  width: 130px;
  height: 130px;
  filter: blur(15px);
}

/*Letters plus cursor Animation*/
.paper-stage {
	position: relative;
	height: 100%;
	width: 100%;
  overflow: hidden;
	background-color: var(--main-color);
	background-image: linear-gradient(to right, #2c2e4a, 1px, transparent 1px),
	linear-gradient(to bottom, #2c2e4a, 1px, transparent 1px);
	background-size: 40px 40px;
	cursor: none;
}

.paper-cursor {
	position: fixed;
	width: 25px;
	height: 25px;
	border-top: 5px solid #0f0;
	border-left: 5px solid #0f0;
	transform-origin: top;
	transform: rotate(30deg);
	pointer-events: none;
	filter: drop-shadow(0 0 5px #0f0)
					drop-shadow(0 0 15px #0f0)
					drop-shadow(0 0 35px #0f0) hue-rotate(60deg);
}

.paper-cursor::before {
	content: '';
	position: absolute;
	width: 5px;
	height: 40px;
	background-color: #0f0;
	transform-origin: top;
	transform:  rotate(315deg) translate(-9px, -9px);
}

.paper-element {
	position: absolute;
	color: #0f0;
	pointer-events: none;
	width: 10px;
	height: 10px;
	font-size: 2em;
	transform: translate(-50%, -50%);
	transition: 1s;
	filter: drop-shadow(0 0 5px #0f0)
					drop-shadow(0 0 15px #0f0)
					hue-rotate(60deg);
}

/*Cup animation*/
.cup-stage {
	display: flex;
	justify-content: center;
	align-items: end;
	height: 100%;
	width: 100%;
	padding: 2vh 15vw;
	background-color: inherit;
}

.cup {
	position: relative;
	width: 320px;
	height: 220px;
	margin-bottom: 80px;
	background: linear-gradient(to right, #b8f2ee, #63a6a1);
	border-bottom-left-radius: 45%;
	border-bottom-right-radius: 45%;
}

.cup__top {
	position: absolute;
	top:-30px;
	left: 0px;
	width: 100%;
	height: 60px;
	background: linear-gradient(to right, #b8f2ee, #63a6a1);
	border-radius: 50%;
}

.cup__circle {
	position: absolute;
	top: 5px;
	left: 10px;
	width: calc(100% - 20px);
	height: 50px;
	background: linear-gradient(to left, #b8f2ee, #63a6a1);
	border-radius: 50%;
	overflow: hidden;
}

.cup__liquid {
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#613c31, #4a2b23);
	border-radius: 50%;
}

.cup__handle {
	position: absolute;
	right: -51px;
	top: 10px; 
	width: 110px;
	height: 125px;
	border: 25px solid #63a6a1;
	border-left: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-radius: 50%;
	transform: rotate(39deg);
}

.plate {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	width: 500px;
	height: 200px;
	background: linear-gradient(to right, #a6e3df, #7fb3af);
	border-radius: 50%;
	box-shadow: 0 35px 35px rgba(0, 0, 0, 0.2);
}

.plate::before {
	content: '';
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border-radius: 50%;
	background: linear-gradient(to left, #a6e3df, #7fb3af);
}

.plate::after {
	content: '';
	position: absolute;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	/* background: rgba(0, 0, 0, 0.2); */
	background:  radial-gradient(rgba(0, 0, 0, 0.2) 25%, transparent, transparent);
	border-radius: 50%;
}

.cup__vapour {
	position: relative;
	display: flex;
	z-index: 1;
	padding: 0 20px;
}

.vapour-item {
	position: relative;
	bottom: 40px;
	display: block;
	margin: 0 5px 50px;
	min-width: 8px;
	height: 100px;
	background: #FFFFFF;
	border-radius: 50%;
	opacity: 0;
	filter: blur(8px);
	animation: vapour 5s linear infinite;
	animation-delay: calc(var(--vapour) * -0.5s);
}

@keyframes vapour {
	0% {
		transform: translateX(0)  translateY(0) scaleX(1);
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	50% {
		transform: translateX(-50px)  translateY(-150px) scaleX(7);
	}
	75% {
		opacity: 1;
	}
	100% {
		transform: translateX(30px)  translateY(-300px) scaleX(12);
		opacity: 0;
	}
}

.plate_fade {
	opacity: 0;
	transform: translateX(calc(-50% + 20vw));
	transition: all 2s ease-out;
}

.plate_visible {
	opacity: 1;
	transform: translateX(-50%);
	transition: all 2s ease-out;
}

.cup_fade {
	opacity: 0;
	transform: translateX(20vw);
	transition: all 2s ease-out;
}

.cup_visible{
	opacity: 1;
	transform: translateX(0);
	transition: all 2s ease-out;
}

/*Buttons for startin cup animation*/
.animation-works-slide__buttons {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content:space-around;
	align-items: center;
	height: 100%;
	width: 20vw;
	margin-left: calc(var(--swiper-navigation-size) + 40px);
}

.animation-works-slide__btn {
	width: 100%;
	height: 8vh;
}

/*Footer*/
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 6vw;
	padding-right: 6vw;
	height: var(--header-height);	
	font-size: 2vh;
}

.footer__link {
	color: var(--white-color);
}

.footer__link:focus-visible {
	outline: none;
	text-decoration: underline;
}

@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 3/2) {
	:root {
		--header-height: 6vh;
		--container-padding: 5vw;
	}

	.header {
		padding-right: var(--container-padding);
		padding-left: var(--container-padding);
	}

	.header__title, .header__link, .nav__link {
		font-size: 1.5vh;
	}

	.header__nav {
		width: 38vw;
	}

	.hero__img-front {
    height: calc(100% - 30vh);
	}

	.aboutme-block__title, .info-block__title, .works-block__title {
		margin-top: 2vh;
    margin-bottom: 2vh
	}

}

@media (orientation: portrait) {
	:root {
		--header-height: 5vh;
		--container-padding: 5vw;
	}
	
	.h3 {
		font-size: 2vh;
	}

	.container {
		padding-left: var(--container-padding);
		padding-right: var(--container-padding);
	}

	.bth-start-animation_theme-dark {
		background: transparent;
	}
	
	.bth-start-animation_theme-dark:focus-visible {
		outline: none;
		background-color: rgba(20, 16, 36, 0.5);;
	}

	.bth-start-animation_theme-dark:hover{
		background-color: rgba(20, 16, 36, 0.5);;
	}
	.bth-start-animation_theme-dark:active{
		background-color: rgba(213, 32, 39, 0.5);
		transform: none;
	}

	.bth-start-animation_theme-light {
		background-color: transparent;
		color: var(--white-color);
	}

	.bth-start-animation_theme-light:focus-visible {
		outline: none;
		background-color: rgba(213, 32, 39, 0.5);
	}

	.bth-start-animation_theme-light:hover {
		background-color: rgba(213, 32, 39, 0.5);
		color: var(--white-color);
	}

	.bth-start-animation_theme-light:active {
		background-color: rgba(213, 32, 39, 1);
		color: var(--white-color);
		transform: none;
	}

	
	.header {
		height: var(--header-height);
		justify-content: space-evenly;
		padding-right: var(--container-padding);
		padding-left: var(--container-padding);
	}

	.header__title {
		display: none;
	}

	.header__link {
		display: none;
	}

	.header__nav {
		width: 90%;
	}

	.hero {
		position: relative;
		flex-direction: column;
		padding-top: var(--header-height);
	}

	.hero__imgs {
		position: absolute;
		width: calc(100% - var(--container-padding)*2);
	}

	.hero__info-block{
		z-index: 1;
		position: relative;
		height: 100%;
		width: 100%;
		padding-right: 0;
		padding-top: 4vh;
	}

	.hero__imgs {
		bottom: 15vh;
		height: 50vh;
	}

	.hero__title, .hero__desc {
		text-align: center;
	}

	.hero__title {
		margin-bottom: 2vh;
		font-size: 5vh;
	} 

	.hero__desc {
		max-height: 13vh;
		margin-bottom: 2vh;
		font-size: 1.5vh;
	}

	.hero__btn {
		position: absolute;
		bottom: 10vh;
		width: 100%;
	}

	.hero__img-back {
		width:calc(80vw - var(--circle--border-width)*2);
		height: calc(80vw - var(--circle--border-width)*2);
		max-width: 45vh;
		max-height: 45vh;
	}

	.hero__img-front {
		height: 100%;
	}

	.aboutme-block, .info-block {
		padding-top: var(--header-height);
    padding-bottom: calc(var(--header-height) + 5vh);
	}

	.aboutme-block__title, .info-block__title {
		margin-top: 2vh;
		margin-bottom: 2vh;
	}

	.aboutme-block__desc {
		max-height: 35vh;
		flex-grow: 1;
	}

	.block-desc {
		font-size: 1.5vh;
	}

	.aboutme-block__list {
		flex-grow: 1;
		flex-direction: column;
	}

	.aboutme-block__item {
		height: 30%;
		width: 100%;
	}

	
	/*projects*/
	.info-block__desc {
		max-height: none;
		font-size: 1.5vh;
	}

	.info-swiper {
		flex-grow: 1;
		height: 50vh;
		padding: 20px 10px;
		box-shadow: 3px 0 6px 3px rgba(255, 255, 255, 0.5),
							-3px 0 6px 3px rgba(255, 255, 255, 0.5),
							0 -3px 6px 3px rgba(255, 255, 255, 0.5),
							0 3px 6px 3px rgba(255, 255, 255, 0.5);
	}

	.info-swiper__pagination {
		display: flex;
		padding-left: 10px;
		padding-right: 10px;
	}

	.info-swiper__pagination  .swiper-pagination-bullet{
		border-radius: 0;
		flex-grow: 1;
		background-color: rgba(255, 255, 255, 0.5);;
	} 

	.info-swiper__pagination .swiper-pagination-bullet-active {
		border-radius: 0;
		flex-grow: 1;
		background-color: var(--white-color);
	}

	.info-swiper__btn-prev, .info-swiper__btn-next {
		display: none;
	}

	.info-slide__name, .info-slide__inf{
		width: 100%;
	}

	.info-slide__name {
		padding-right: 0px;
	}

	.info-slide__inf {
		flex-basis: 40%;
		padding-right: 0px;
		font-size: 1.5vh;
	}

	.info-slide__img {
		display: none;
	}

	.works-block {
		padding-top: var(--header-height);
	}

	.works-block__title {
		margin-top: 2vh;
		margin-bottom: 2vh;
	}

	.works-block__title, .works-block__desc {
		padding: 0 var(--container-padding);
	}

	.animation-work__start {
		top: 0;
		left: 0;
		width: 100vw;
		border-radius: 0;
	}

	.animation-works-swiper__btn-next, .animation-works-swiper__btn-prev {
		display: none;
	}

	.animation-works-swiper__pagination {
		display: flex;
	}
	
	.animation-works-swiper__pagination .swiper-pagination-bullet {
		border-radius: 0;
		flex-grow: 1;
		background-color: rgba(213, 32, 39, 0.5);
	}
	
	.animation-works-swiper__pagination .swiper-pagination-bullet-active {
		border-radius: 0;
		flex-grow: 1;
		background-color: var(--red-color);
	}

	.plate_fade {
		transform: translateX(-50%);
	}
	
	.plate_visible {
		transition: opacity 2s ease-in-out;
	}
	
	.cup_fade {
		transform: translateX(0);
	}
	
	.cup_visible{
		transition: opacity 2s ease-in-out;
	}

	.plate {
		transform: translate3d(-50%,0,0);
		backface-visibility: hidden;
	}

	.cup {
		transform: translate3d(0,0,0);
		backface-visibility: hidden;
	}
	

	/*Buttons for starting cup animation*/
	.animation-works-slide__buttons {
		justify-content: space-between;
		align-items: center;
		height: 15vw;
		width: 100%;
		margin-left: 0;
	}

	.animation-works-slide__btn {
		height: 100%;
		border-radius: 0;
	}

	.footer {
		padding-right: var(--container-padding);
		padding-left: var(--container-padding);
		font-size: 1.5vh
	}
}
